[build]
  publish = "."
  functions = "netlify/functions"

[[headers]]
  for = "/admin/config.yml"
  [headers.values]
    Content-Type = "text/yaml; charset=utf-8"
    Cache-Control = "no-store"

[[headers]]
  for = "/admin/*"
  [headers.values]
    Cache-Control = "no-store"
